body {
    background-image:url('../img/movies-clipart-stage-4-transparent.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
  
    background-color:rgba(24, 112, 112, 0.911);
}
.container{
       margin: auto;
        width: 15%;
        margin-top: 5%;
      
        
}

.input-error{
    box-shadow: 0 0 5px red;
}

